{% extends 'base.html' %}


{% block title %}
    登录页面
{% endblock %}

{% block content %}
    {{ super() }}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"
                    aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            {{ message }}
        </div>
    {% endfor %}
    <div class="container" style="width: 30%">{{ wtf.quick_form(form) }}</div>
    <div class="container" style="width: 30%"><a href="{{ url_for('register_html') }}">没有账号？点击注册</a></div>
{% endblock %}